* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  margin: 30px;
}

input, button {
  padding: 5px 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.list > li {
  flex-basis: 48%;
  margin-bottom: 20px;
}

.list > li > img {
  width: 80%;
}